.header{
	padding-bottom: 30px;
}

.product {
	display: flex;
	justify-content: flex-start;
	margin: 0 10px;
	font-size: 15px;
}

.img {
	width: 400px;
	object-fit: cover;
	border-radius: 10px;
	margin-right: 50px;

}

.price {
	font-weight: 700;
	padding-bottom: 20px;
}

.buttons {
	display: flex;
	align-items: center;
}


.description {
	line-height: 22px;
	padding-bottom: 30px;
}

.table {
	font-size: 14px;
	padding-bottom: 30px;

	td {
		vertical-align: top;
		padding: 2px 5px;
	}

	.tableKey {
		font-weight: 700;
	}
}

.favorites {
	width: 35px;
	height: 35px;
	border-radius: 10px;
	cursor: pointer;
	background-color: #ffa3c6;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 20px;
	box-shadow:
		2px 2px 2px rgba($color: #000000, $alpha: 0.5),
		0 16px 24px 2px rgba(33, 37, 41, .02),
		0 8px 10px -5px rgba(33, 37, 41, .1);

	&:hover {
		background-color: #ff75aa;
	}

	svg {
		width: 100%;
	}
}

.favoritesAct {
	background-color: #ff75aa;
}