.user{
	padding: 20px 0 35px 0;
	justify-content: space-around;
	display: flex;
	flex-direction: column;
	align-items: center;
	
}

.form{
	padding-top: 15px;
	text-align: center;

	input{
		height: 38px;
		width: 250px;
		font-size: 17px;
		border: 1px solid rgb(187, 187, 187);
		border-radius: 2px;
		outline: none;
		padding-left: 10px;
		margin: 7px 0;
		background-color:rgba(0, 0, 0, 0.05);

		&:focus{
			background-color:rgba(0, 0, 0, 0.15);
		}
	}
}

.button {
	margin-top: 20px;
	background-color: #88d0fd;
	cursor: pointer;
	border-radius: 2px;
	padding: 8px 15px;
	font-size: 17px;
	border: none;
	color: #fff;

	&:hover {
		background: #2eafff;
	}

}

.buttonDel{
	width: 180px;
	margin-top: 200px;
	background-color: #f7a2ba;
	cursor: pointer;
	border-radius: 2px;
	padding: 8px 10px;
	font-size: 17px;
	border: none;
	color: #fff;

	&:hover {
		background: #e6445a;
	}
}


// лоадер
.userLoad{
	display: flex;
	justify-content: center;
	margin-bottom: 90px;
	padding-top: 79px;
}

.loader {
	display: inline-block;
	width: 200px;
	height: 200px;
 }
 .loader:after {
	content: " ";
	display: block;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 6px solid #cef;
	border-color: #cef transparent #cef transparent;
	animation: loader 1.2s linear infinite;
 }
 @keyframes loader {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
 }