body {
  background-color: #E7F6FF;
  margin: 30px;
}

a {
  text-decoration: none;
  color: #000;
}

.wrapper {
  max-width: 1180px;
  margin: 0 auto;
  padding: 45px 45px 5px 45px;
  margin-top: 80px;
  background-color: #fff;
  border-radius: 40px;
}

.content{
  margin-bottom: 35px;
}